<div class="text-center home-page">

	<h1 class="large-text"><em>Cafenea la vila</em></h1>

	<p class="lead">
		<em>Un simplu sistem de vinzari.</em>
	</p>
	<br/><br/>
	<br/><br/>

	<div class="text-center ng-scope">

	<br><br>

	<div class="container">

		<div class="col-md-5">
			<a href="#/inventory" class="btn btn-info btn-block">
				<h2>Nomenclatura</h2>
			</a>
		</div>

		<span class="col-md-1"></span>

		<div class="col-md-5">
			<a href="#/pos" class="btn btn-info btn-block">
				<h2>POS</h2>
			</a>
		</div>

	</div>

	<br><br>

	<div class="container">

		<div class="col-md-5">
			<a href="#/transactions" class="btn btn-info btn-block">
				<h2>Tranzactii</h2>
			</a>
		</div>

		<span class="col-md-1"></span>

		<div class="col-md-5">
			<a href="#/live-cart" class="btn btn-info btn-block">
				<h2>Date live</h2>
			</a>
		</div>

	</div>

</div>
